
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 150rem;
}.hakkmzda-14P {
  background-position: center;
  box-sizing: border-box;
  position: relative;
  display: flex;
  box-shadow: 0 0.4rem 0.4rem #000000;
  background-repeat: no-repeat;
  background-image: url('REPLACE_IMAGE:6fa315be16d3581834eeeba517c6a3b22564007b');
  background-color: #ffffff;
  padding-bottom: 2.4rem;
  cursor: pointer;
  overflow: hidden;
  background-size: 100% 100%;
  width: 100%;
  flex-direction: column;

  .topbar-8oD {
    margin-bottom: 4.1rem;
    width: 100%;
    height: 10.3rem;
    border-bottom: solid 0.3rem rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    flex-shrink: 0;

    .auto-group-ebbh-pZZ {
      background-color: rgba(255, 255, 255, 0.200000003);
      box-sizing: border-box;
      padding: 0.9rem 5.1rem 0.871rem 8.4rem;
      width: 100%;
      height: 10rem;
      display: flex;
      align-items: center;

      .images-1-gbm {
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 49.7rem;
        width: 22rem;
        height: 8.2293rem;
      }
      .auto-group-gnxb-xpB {
        font-family: Work Sans, 'Source Sans Pro';
        align-items: center;
        justify-content: center;
        background-color: #70ff00;
        width: 9.6rem;
        height: calc(100% - 3.0293rem);
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 1.1725;
        color: #000000;
        white-space: nowrap;
        display: flex;
        border-radius: 0.8rem;
        margin: 1.1rem 3.1rem 1.929rem 0rem;
        flex-shrink: 0;
      }
      .auto-group-cksk-trF {
        border-radius: 0.8rem;
        align-items: center;
        background-color: #70ff00;
        width: 10.9rem;
        color: #000000;
        display: flex;
        white-space: nowrap;
        justify-content: center;
        margin: 1.1rem 3.2rem 1.929rem 0rem;
        height: calc(100% - 3.0293rem);
        font-size: 1.5rem;
        flex-shrink: 0;
        font-weight: 600;
        line-height: 1.1725;
        font-family: Work Sans, 'Source Sans Pro';
      }
      .auto-group-btyx-k7m {
        width: 12.3rem;
        height: calc(100% - 2.8293rem);
        position: relative;
        flex-shrink: 0;
        margin: 0.9rem 3.7rem 1.929rem 0rem;

        .rectangle-4-G67 {
          width: 12.3rem;
          height: 5.2rem;
          position: absolute;
          left: 0;
          top: 0.2rem;
          background-color: #70ff00;
          border-radius: 0.8rem;
        }
        .servis-detay-8u1 {
          width: 10.6rem;
          top: 0;
          font-size: 1.2rem;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          align-items: baseline;
          cursor: pointer;
          position: absolute;
          height: 1.8rem;
          left: 0.9rem;
          display: flex;
          font-weight: 400;
          line-height: 1.2102272511;
          color: #ffffff;

          .servis-detay-8u1-sub-0 {
            font-size: 1.5rem;
            font-weight: 600;
            line-height: 1.1725;
            color: #000000;
            font-family: Work Sans, 'Source Sans Pro';
          }
          .servis-detay-8u1-sub-1 {
            font-size: 1.5rem;
            font-weight: 600;
            line-height: 1.1725;
            color: #000000;
            font-family: Work Sans, 'Source Sans Pro';
          }
          .servis-detay-8u1-sub-2 {
            font-weight: 400;
            line-height: 1.1725;
            color: #000000;
            font-family: Work Sans, 'Source Sans Pro';
            font-size: 1.2rem;
          }
        }
      }
      .auto-group-w14f-mMd {
        width: 9.6rem;
        height: calc(100% - 2.8293rem);
        position: relative;
        flex-shrink: 0;
        margin: 0.9rem 2.8rem 1.929rem 0rem;

        .rectangle-3-Umq {
          height: 5.2rem;
          cursor: pointer;
          position: absolute;
          left: 0;
          top: 0.2rem;
          background-color: #70ff00;
          border-radius: 0.8rem;
          width: 9.6rem;
        }
        .iletiim-c7M {
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          display: flex;
          height: 1.8rem;
          position: absolute;
          left: 1.5rem;
          top: 0;
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.2102272511;
          white-space: nowrap;
          width: 6.9rem;
          align-items: baseline;

          .iletiim-c7M-sub-0 {
            font-size: 1.5rem;
            font-weight: 600;
            line-height: 1.1725;
            color: #000000;
            font-family: Work Sans, 'Source Sans Pro';
          }
          .iletiim-c7M-sub-1 {
            font-size: 1.5rem;
            font-weight: 600;
            line-height: 1.1725;
            color: #000000;
            font-family: Work Sans, 'Source Sans Pro';
          }
          .iletiim-c7M-sub-2 {
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.1725;
            color: #000000;
            font-family: Work Sans, 'Source Sans Pro';
          }
        }
      }
      .auto-group-olsd-Vis {
        width: 9.6rem;
        height: calc(100% - 2.8293rem);
        position: relative;
        flex-shrink: 0;
        margin: 0.9rem 0rem 1.929rem 0rem;

        .rectangle-2-oDm {
          left: 0;
          top: 0.2rem;
          background-color: #70ff00;
          border-radius: 0.8rem;
          width: 9.6rem;
          height: 5.2rem;
          cursor: pointer;
          position: absolute;
        }
        .ulaim-Kxo {
          align-items: baseline;
          width: 5.9rem;
          top: 0;
          font-weight: 400;
          display: flex;
          line-height: 1.2102272511;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          height: 1.8rem;
          position: absolute;
          left: 1.7rem;
          font-size: 1.2rem;

          .ulaim-Kxo-sub-0 {
            font-weight: 600;
            line-height: 1.1725;
            color: #000000;
            font-family: Work Sans, 'Source Sans Pro';
            font-size: 1.5rem;
          }
          .ulaim-Kxo-sub-1 {
            font-size: 1.5rem;
            font-weight: 600;
            line-height: 1.1725;
            color: #000000;
            font-family: Work Sans, 'Source Sans Pro';
          }
          .ulaim-Kxo-sub-2 {
            font-weight: 400;
            line-height: 1.1725;
            color: #000000;
            font-family: Work Sans, 'Source Sans Pro';
            font-size: 1.2rem;
          }
        }
      }
    }
  }
  .hakkimizda-hby {
    font-family: Work Sans, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    margin: 0rem 0rem 2.8rem 7.6rem;
    font-size: 6.4rem;
    font-weight: 600;
    line-height: 1.1725;
    color: #70ff00;
  }
  .auto-group-ceex-NTD {
    margin: 0rem 2.6rem 0rem 3.3rem;
    width: calc(100% - 5.9rem);
    height: 75.2rem;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;

    .auto-group-r8qh-5cX {
      flex-shrink: 0;
      margin-right: 33.2rem;
      box-sizing: border-box;
      padding: 6.2rem 3.9rem 7rem 5.1rem;
      width: 62.2rem;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.8000000119);
      border-radius: 8.6rem;

      .bosscar-25-yl-aan-sre-zarfnda-servis-iletmeciliinde-srekli-gelierek-blgesinin-nde-gelen-aktrlerinden-biri-haline-geldi1989-ylnda-bmw-yetkili-servisi-olarak-balayan-hizmetlerimizi-mekanik-kaporta-boya-yedek-para-sat-sigorta-lastik-ve-24-saat-yol-yardm-hizmetleri-olarak-zetleyebilirizbosscar-olarak-koulsuz-mteri-memnuniyetini-hedefleriz-ve-mterilerin-istek-ve-beklentilerinin-tesinde-hizmet-sunmay-amalayan-bir-anlayla-alrzvizyonumuzhizmet-verdiimiz-otomotiv-sektrndeki-baar-ve-gvenilirliimizi-srdrmek-bosscar-isminin-gen-dinamik-yeniliki-kavramlaryla-zdelemesini-salamak-ve-bunu-kalc-bir-ekilde-devam-ettirmektirmisyonumuz-ise-ncelikle-mterilerimiz-olmak-zere-tm-i-ortaklarmzn-memnuniyet-ve-gvenlerini-n-planda-tutarak-kaynaklarmz-en-verimli-ekilde-kullanmak-ve-hizmet-kalitemizi-en-st-dzeyde-tutmaktr-zzP {
        max-width: 53.2rem;
        font-size: 2.4rem;
        font-weight: 600;
        line-height: 1.1725;
        color: #dbc3c3;
        font-family: Work Sans, 'Source Sans Pro';
      }
    }
    .auto-group-1gsd-zuq {
      padding: 4rem 1.5rem;
      width: 48.7rem;
      height: 63rem;
      background-color: rgba(0, 0, 0, 0.8000000119);
      border-radius: 5.5rem;
      flex-shrink: 0;
      margin-top: 2.2rem;
      box-sizing: border-box;

      .bosscar-olarak-kalite-politikamz-mterilerimizin-gelien-talep-ve-beklentilerini-karlamak-zere-mteri-memnuniyeti-ve-gven-ilkelerini-daima-n-planda-tutarak-gelimeyi-srekli-klmak-irket-ve-marka-deerlerini-en-st-seviyede-tutarak-alanlarmzn-kiisel-ve-profesyonel-becerilerini-arttrmaya-ynelik-faaliyetler-salamak-bylece-dinamik-ve-srekli-kendini-yenileyen-bir-alma-ortam-yaratmak-evreye-ve-irkete-ait-kaynaklar-efektif-ekilde-kullanarak-evreyi-korumak-tm-almalarmzda-drstlk-ve-meslek-ilkelerini-en-n-planda-tutmaktr-W7V {
        max-width: 43.7rem;
        font-size: 2rem;
        font-weight: 600;
        line-height: 1.1725;
        color: #ffffff;
        font-family: Work Sans, 'Source Sans Pro';
      }
    }
  }
}
