
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 150rem;
}.servis-detay-347 {
  background-color: #ffffff;
  width: 100%;
  background-position: center;
  background-image: url('REPLACE_IMAGE:5399cf5bd932746caa513c1252899ad1bcf64c36');
  display: flex;
  flex-direction: column;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
  align-items: center;

  .topbar-NMH {
    width: 100%;
    height: 10.3rem;
    border-bottom: solid 0.3rem rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    flex-shrink: 0;
    margin-bottom: 7.8rem;

    .auto-group-mqjr-5Wb {
      box-sizing: border-box;
      padding: 0.9rem 5.1rem 0.871rem 8.4rem;
      width: 100%;
      height: 10rem;
      display: flex;
      align-items: center;
      background-color: rgba(255, 255, 255, 0.200000003);

      .images-1-ksd {
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 49.7rem;
        width: 22rem;
        height: 8.2293rem;
        object-fit: cover;
      }
      .auto-group-k7wq-Gqy {
        font-weight: 600;
        background-color: #70ff00;
        border-radius: 0.8rem;
        width: 9.6rem;
        color: #000000;
        justify-content: center;
        font-size: 1.5rem;
        line-height: 1.1725;
        white-space: nowrap;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 1.1rem 3.1rem 1.929rem 0rem;
        height: calc(100% - 3.0293rem);
        font-family: Work Sans, 'Source Sans Pro';
      }
      .auto-group-nsak-75u {
        color: #000000;
        font-family: Work Sans, 'Source Sans Pro';
        white-space: nowrap;
        justify-content: center;
        background-color: #70ff00;
        margin: 1.1rem 3.2rem 1.929rem 0rem;
        height: calc(100% - 3.0293rem);
        line-height: 1.1725;
        display: flex;
        align-items: center;
        font-size: 1.5rem;
        width: 10.9rem;
        font-weight: 600;
        border-radius: 0.8rem;
        flex-shrink: 0;
      }
      .auto-group-z23d-Aps {
        margin: 0.9rem 3.7rem 1.929rem 0rem;
        width: 12.3rem;
        height: calc(100% - 2.8293rem);
        position: relative;
        flex-shrink: 0;

        .rectangle-4-szB {
          width: 12.3rem;
          height: 5.2rem;
          position: absolute;
          left: 0;
          top: 0.2rem;
          background-color: #70ff00;
          border-radius: 0.8rem;
        }
        .servis-detay-mJs {
          white-space: nowrap;
          position: absolute;
          left: 0.9rem;
          color: #ffffff;
          cursor: pointer;
          font-size: 1.2rem;
          font-family: Inter, 'Source Sans Pro';
          height: 1.8rem;
          top: 0;
          line-height: 1.2102272511;
          align-items: baseline;
          width: 10.6rem;
          font-weight: 400;
          display: flex;

          .servis-detay-mJs-sub-0 {
            color: #000000;
            font-family: Work Sans, 'Source Sans Pro';
            font-size: 1.5rem;
            font-weight: 600;
            line-height: 1.1725;
          }
          .servis-detay-mJs-sub-1 {
            font-size: 1.5rem;
            font-weight: 600;
            line-height: 1.1725;
            color: #000000;
            font-family: Work Sans, 'Source Sans Pro';
          }
          .servis-detay-mJs-sub-2 {
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.1725;
            color: #000000;
            font-family: Work Sans, 'Source Sans Pro';
          }
        }
      }
      .auto-group-9a4j-SC3 {
        margin: 0.9rem 2.8rem 1.929rem 0rem;
        width: 9.6rem;
        height: calc(100% - 2.8293rem);
        position: relative;
        flex-shrink: 0;

        .rectangle-3-Z1m {
          width: 9.6rem;
          height: 5.2rem;
          cursor: pointer;
          position: absolute;
          left: 0;
          top: 0.2rem;
          background-color: #70ff00;
          border-radius: 0.8rem;
        }
        .iletiim-3hd {
          width: 6.9rem;
          position: absolute;
          top: 0;
          font-size: 1.2rem;
          font-weight: 400;
          white-space: nowrap;
          height: 1.8rem;
          left: 1.5rem;
          line-height: 1.2102272511;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          display: flex;
          align-items: baseline;

          .iletiim-3hd-sub-0 {
            font-family: Work Sans, 'Source Sans Pro';
            font-size: 1.5rem;
            font-weight: 600;
            line-height: 1.1725;
            color: #000000;
          }
          .iletiim-3hd-sub-1 {
            font-size: 1.5rem;
            font-weight: 600;
            line-height: 1.1725;
            color: #000000;
            font-family: Work Sans, 'Source Sans Pro';
          }
          .iletiim-3hd-sub-2 {
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.1725;
            color: #000000;
            font-family: Work Sans, 'Source Sans Pro';
          }
        }
      }
      .auto-group-x8m9-r2o {
        margin: 0.9rem 0rem 1.929rem 0rem;
        width: 9.6rem;
        height: calc(100% - 2.8293rem);
        position: relative;
        flex-shrink: 0;

        .rectangle-2-NG3 {
          left: 0;
          top: 0.2rem;
          background-color: #70ff00;
          border-radius: 0.8rem;
          width: 9.6rem;
          height: 5.2rem;
          position: absolute;
        }
        .ulaim-uFy {
          line-height: 1.2102272511;
          font-family: Inter, 'Source Sans Pro';
          display: flex;
          width: 5.9rem;
          left: 1.7rem;
          font-weight: 400;
          align-items: baseline;
          height: 1.8rem;
          cursor: pointer;
          color: #ffffff;
          white-space: nowrap;
          position: absolute;
          top: 0;
          font-size: 1.2rem;

          .ulaim-uFy-sub-0 {
            line-height: 1.1725;
            color: #000000;
            font-family: Work Sans, 'Source Sans Pro';
            font-size: 1.5rem;
            font-weight: 600;
          }
          .ulaim-uFy-sub-1 {
            font-size: 1.5rem;
            font-weight: 600;
            line-height: 1.1725;
            color: #000000;
            font-family: Work Sans, 'Source Sans Pro';
          }
          .ulaim-uFy-sub-2 {
            font-weight: 400;
            line-height: 1.1725;
            color: #000000;
            font-family: Work Sans, 'Source Sans Pro';
            font-size: 1.2rem;
          }
        }
      }
    }
  }
  .auto-group-s16b-cTD {
    margin: 0rem 6.6rem 0rem 2.5rem;
    width: calc(100% - 9.1rem);
    height: 120.7rem;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;

    .auto-group-awkx-vio {
      margin-right: 6.1rem;
      width: 61.4rem;
      height: 100%;
      position: relative;
      flex-shrink: 0;

      .rectangle-9-Gnf {
        top: 0;
        background-color: rgba(0, 0, 0, 0.8000000119);
        border-radius: 6.7rem;
        width: 61.4rem;
        height: 81.9rem;
        position: absolute;
        left: 0;
      }
      .ama-mterilere-geni-bir-ara-yelpazesi-sunmak-gvenilir-ara-alm-satm-kiralama-platformu-salamak-ve-servis-hizmetlerini-evrimii-olarak-eriilebilir-klmak-hedef-kitle-ara-alm-veya-kiralama-yapmay-dnen-bireyler-ikinci-el-ara-sat-veya-alm-yapan-kiiler-servis-ve-bakm-hizmeti-arayan-ara-sahipleri-kurumsal-mteriler-ara-kategorileri-ve-filtreleme-yeni-aralar-ikinci-el-aralar-kiralk-aralar-marka-model-fiyat-aral-yakt-tr-vites-tipi-model-yl-gibi-filtreleme-seenekleri-ara-detaylar-teknik-zellikler-oklu-resim-galerisi-fiyatlandrma-detaylar-kredi-seenekleri-taksit-planlar-garanti-bilgileri-ara-gemii-raporu-carfax-vb-bpw {
        width: 58.3rem;
        height: 120.7rem;
        position: absolute;
        top: 0;
        font-family: Work Sans, 'Source Sans Pro';
        left: 1.3rem;
        font-size: 6.4rem;
        font-weight: 600;
        line-height: 1.1725;
        color: #ffffff;

        .ama-mterilere-geni-bir-ara-yelpazesi-sunmak-gvenilir-ara-alm-satm-kiralama-platformu-salamak-ve-servis-hizmetlerini-evrimii-olarak-eriilebilir-klmak-hedef-kitle-ara-alm-veya-kiralama-yapmay-dnen-bireyler-ikinci-el-ara-sat-veya-alm-yapan-kiiler-servis-ve-bakm-hizmeti-arayan-ara-sahipleri-kurumsal-mteriler-ara-kategorileri-ve-filtreleme-yeni-aralar-ikinci-el-aralar-kiralk-aralar-marka-model-fiyat-aral-yakt-tr-vites-tipi-model-yl-gibi-filtreleme-seenekleri-ara-detaylar-teknik-zellikler-oklu-resim-galerisi-fiyatlandrma-detaylar-kredi-seenekleri-taksit-planlar-garanti-bilgileri-ara-gemii-raporu-carfax-vb-bpw-sub-0 {
          font-size: 6.4rem;
          font-weight: 600;
          line-height: 1.1725;
          color: #000000;
          font-family: Work Sans, 'Source Sans Pro';
        }
        .ama-mterilere-geni-bir-ara-yelpazesi-sunmak-gvenilir-ara-alm-satm-kiralama-platformu-salamak-ve-servis-hizmetlerini-evrimii-olarak-eriilebilir-klmak-hedef-kitle-ara-alm-veya-kiralama-yapmay-dnen-bireyler-ikinci-el-ara-sat-veya-alm-yapan-kiiler-servis-ve-bakm-hizmeti-arayan-ara-sahipleri-kurumsal-mteriler-ara-kategorileri-ve-filtreleme-yeni-aralar-ikinci-el-aralar-kiralk-aralar-marka-model-fiyat-aral-yakt-tr-vites-tipi-model-yl-gibi-filtreleme-seenekleri-ara-detaylar-teknik-zellikler-oklu-resim-galerisi-fiyatlandrma-detaylar-kredi-seenekleri-taksit-planlar-garanti-bilgileri-ara-gemii-raporu-carfax-vb-bpw-sub-1 {
        }
        .ama-mterilere-geni-bir-ara-yelpazesi-sunmak-gvenilir-ara-alm-satm-kiralama-platformu-salamak-ve-servis-hizmetlerini-evrimii-olarak-eriilebilir-klmak-hedef-kitle-ara-alm-veya-kiralama-yapmay-dnen-bireyler-ikinci-el-ara-sat-veya-alm-yapan-kiiler-servis-ve-bakm-hizmeti-arayan-ara-sahipleri-kurumsal-mteriler-ara-kategorileri-ve-filtreleme-yeni-aralar-ikinci-el-aralar-kiralk-aralar-marka-model-fiyat-aral-yakt-tr-vites-tipi-model-yl-gibi-filtreleme-seenekleri-ara-detaylar-teknik-zellikler-oklu-resim-galerisi-fiyatlandrma-detaylar-kredi-seenekleri-taksit-planlar-garanti-bilgileri-ara-gemii-raporu-carfax-vb-bpw-sub-2 {
          color: #ffffff;
          font-family: Work Sans, 'Source Sans Pro';
          font-size: 2rem;
          font-weight: 600;
          line-height: 1.1725;
        }
        .ama-mterilere-geni-bir-ara-yelpazesi-sunmak-gvenilir-ara-alm-satm-kiralama-platformu-salamak-ve-servis-hizmetlerini-evrimii-olarak-eriilebilir-klmak-hedef-kitle-ara-alm-veya-kiralama-yapmay-dnen-bireyler-ikinci-el-ara-sat-veya-alm-yapan-kiiler-servis-ve-bakm-hizmeti-arayan-ara-sahipleri-kurumsal-mteriler-ara-kategorileri-ve-filtreleme-yeni-aralar-ikinci-el-aralar-kiralk-aralar-marka-model-fiyat-aral-yakt-tr-vites-tipi-model-yl-gibi-filtreleme-seenekleri-ara-detaylar-teknik-zellikler-oklu-resim-galerisi-fiyatlandrma-detaylar-kredi-seenekleri-taksit-planlar-garanti-bilgileri-ara-gemii-raporu-carfax-vb-bpw-sub-3 {
          font-family: Work Sans, 'Source Sans Pro';
          font-size: 4.8rem;
          font-weight: 600;
          line-height: 1.1725;
          color: #ffffff;
        }
        .ama-mterilere-geni-bir-ara-yelpazesi-sunmak-gvenilir-ara-alm-satm-kiralama-platformu-salamak-ve-servis-hizmetlerini-evrimii-olarak-eriilebilir-klmak-hedef-kitle-ara-alm-veya-kiralama-yapmay-dnen-bireyler-ikinci-el-ara-sat-veya-alm-yapan-kiiler-servis-ve-bakm-hizmeti-arayan-ara-sahipleri-kurumsal-mteriler-ara-kategorileri-ve-filtreleme-yeni-aralar-ikinci-el-aralar-kiralk-aralar-marka-model-fiyat-aral-yakt-tr-vites-tipi-model-yl-gibi-filtreleme-seenekleri-ara-detaylar-teknik-zellikler-oklu-resim-galerisi-fiyatlandrma-detaylar-kredi-seenekleri-taksit-planlar-garanti-bilgileri-ara-gemii-raporu-carfax-vb-bpw-sub-4 {
          font-family: Work Sans, 'Source Sans Pro';
          font-size: 2rem;
          font-weight: 600;
          line-height: 1.1725;
          color: #ffffff;
        }
        .ama-mterilere-geni-bir-ara-yelpazesi-sunmak-gvenilir-ara-alm-satm-kiralama-platformu-salamak-ve-servis-hizmetlerini-evrimii-olarak-eriilebilir-klmak-hedef-kitle-ara-alm-veya-kiralama-yapmay-dnen-bireyler-ikinci-el-ara-sat-veya-alm-yapan-kiiler-servis-ve-bakm-hizmeti-arayan-ara-sahipleri-kurumsal-mteriler-ara-kategorileri-ve-filtreleme-yeni-aralar-ikinci-el-aralar-kiralk-aralar-marka-model-fiyat-aral-yakt-tr-vites-tipi-model-yl-gibi-filtreleme-seenekleri-ara-detaylar-teknik-zellikler-oklu-resim-galerisi-fiyatlandrma-detaylar-kredi-seenekleri-taksit-planlar-garanti-bilgileri-ara-gemii-raporu-carfax-vb-bpw-sub-5 {
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.2575;
          color: #ffffff;
          font-family: Rubik Mono One, 'Source Sans Pro';
        }
        .ama-mterilere-geni-bir-ara-yelpazesi-sunmak-gvenilir-ara-alm-satm-kiralama-platformu-salamak-ve-servis-hizmetlerini-evrimii-olarak-eriilebilir-klmak-hedef-kitle-ara-alm-veya-kiralama-yapmay-dnen-bireyler-ikinci-el-ara-sat-veya-alm-yapan-kiiler-servis-ve-bakm-hizmeti-arayan-ara-sahipleri-kurumsal-mteriler-ara-kategorileri-ve-filtreleme-yeni-aralar-ikinci-el-aralar-kiralk-aralar-marka-model-fiyat-aral-yakt-tr-vites-tipi-model-yl-gibi-filtreleme-seenekleri-ara-detaylar-teknik-zellikler-oklu-resim-galerisi-fiyatlandrma-detaylar-kredi-seenekleri-taksit-planlar-garanti-bilgileri-ara-gemii-raporu-carfax-vb-bpw-sub-6 {
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 1.1725;
          color: #ffffff;
          font-family: Work Sans, 'Source Sans Pro';
        }
      }
    }
    .auto-group-sjb5-C3M {
      margin-top: 0.8rem;
      align-items: flex-end;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .images-1-1-Y7D {
        height: 32.3rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 6.4rem;
        flex-shrink: 0;
        margin: 0rem 20.2rem 13.1rem 0rem;
        width: 53.2rem;
      }
      .oto-galeri-tasarimlari-1-1-eAF {
        width: 45.1rem;
        height: 30rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 4rem;
        flex-shrink: 0;
      }
    }
  }
}
