
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 150rem;
}.ulam-mCf {
  position: relative;
  flex-direction: column;
  background-repeat: no-repeat;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  background-size: 100% 100%;
  background-position: center;
  background-image: url('REPLACE_IMAGE:f8aa39aa5f6c09e676b6a628d649acb78d8fb7a2');
  align-items: center;
  display: flex;

  .topbar-V8f {
    width: 100%;
    height: 10.3rem;
    border-bottom: solid 0.3rem rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    flex-shrink: 0;

    .auto-group-uljm-e1Z {
      padding: 0.9rem 5.1rem 0.871rem 8.4rem;
      width: 100%;
      height: 10rem;
      display: flex;
      align-items: center;
      background-color: rgba(255, 255, 255, 0.200000003);
      box-sizing: border-box;

      .images-1-Ysd {
        width: 22rem;
        height: 8.2293rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 49.7rem;
      }
      .auto-group-4dit-GHq {
        height: calc(100% - 3.0293rem);
        color: #000000;
        font-family: Work Sans, 'Source Sans Pro';
        justify-content: center;
        margin: 1.1rem 3.1rem 1.929rem 0rem;
        white-space: nowrap;
        display: flex;
        border-radius: 0.8rem;
        flex-shrink: 0;
        line-height: 1.1725;
        align-items: center;
        background-color: #70ff00;
        width: 9.6rem;
        font-size: 1.5rem;
        font-weight: 600;
      }
      .auto-group-2bv5-K1D {
        height: calc(100% - 3.0293rem);
        line-height: 1.1725;
        justify-content: center;
        margin: 1.1rem 3.2rem 1.929rem 0rem;
        flex-shrink: 0;
        font-weight: 600;
        white-space: nowrap;
        border-radius: 0.8rem;
        align-items: center;
        background-color: #70ff00;
        width: 10.9rem;
        font-size: 1.5rem;
        color: #000000;
        font-family: Work Sans, 'Source Sans Pro';
        display: flex;
      }
      .auto-group-x8v7-P15 {
        margin: 0.9rem 3.7rem 1.929rem 0rem;
        width: 12.3rem;
        height: calc(100% - 2.8293rem);
        position: relative;
        flex-shrink: 0;

        .rectangle-4-gF5 {
          position: absolute;
          left: 0;
          top: 0.2rem;
          background-color: #70ff00;
          border-radius: 0.8rem;
          width: 12.3rem;
          height: 5.2rem;
        }
        .servis-detay-N7u {
          display: flex;
          left: 0.9rem;
          font-weight: 400;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          top: 0;
          line-height: 1.2102272511;
          color: #ffffff;
          align-items: baseline;
          font-size: 1.2rem;
          width: 10.6rem;
          height: 1.8rem;
          cursor: pointer;
          position: absolute;

          .servis-detay-N7u-sub-0 {
            font-size: 1.5rem;
            font-weight: 600;
            line-height: 1.1725;
            color: #000000;
            font-family: Work Sans, 'Source Sans Pro';
          }
          .servis-detay-N7u-sub-1 {
            font-family: Work Sans, 'Source Sans Pro';
            font-size: 1.5rem;
            font-weight: 600;
            line-height: 1.1725;
            color: #000000;
          }
          .servis-detay-N7u-sub-2 {
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.1725;
            color: #000000;
            font-family: Work Sans, 'Source Sans Pro';
          }
        }
      }
      .auto-group-u5qm-Th5 {
        position: relative;
        flex-shrink: 0;
        margin: 0.9rem 2.8rem 1.929rem 0rem;
        width: 9.6rem;
        height: calc(100% - 2.8293rem);

        .rectangle-3-N3M {
          background-color: #70ff00;
          border-radius: 0.8rem;
          width: 9.6rem;
          height: 5.2rem;
          position: absolute;
          left: 0;
          top: 0.2rem;
        }
        .iletiim-U6P {
          width: 6.9rem;
          height: 1.8rem;
          font-family: Inter, 'Source Sans Pro';
          position: absolute;
          line-height: 1.2102272511;
          align-items: baseline;
          cursor: pointer;
          top: 0;
          font-size: 1.2rem;
          font-weight: 400;
          white-space: nowrap;
          left: 1.5rem;
          color: #ffffff;
          display: flex;

          .iletiim-U6P-sub-0 {
            font-family: Work Sans, 'Source Sans Pro';
            font-size: 1.5rem;
            font-weight: 600;
            line-height: 1.1725;
            color: #000000;
          }
          .iletiim-U6P-sub-1 {
            line-height: 1.1725;
            color: #000000;
            font-family: Work Sans, 'Source Sans Pro';
            font-size: 1.5rem;
            font-weight: 600;
          }
          .iletiim-U6P-sub-2 {
            color: #000000;
            font-family: Work Sans, 'Source Sans Pro';
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.1725;
          }
        }
      }
      .auto-group-c31v-TcX {
        margin: 0.9rem 0rem 1.929rem 0rem;
        width: 9.6rem;
        height: calc(100% - 2.8293rem);
        position: relative;
        flex-shrink: 0;

        .rectangle-2-aSF {
          border-radius: 0.8rem;
          width: 9.6rem;
          height: 5.2rem;
          cursor: pointer;
          position: absolute;
          left: 0;
          top: 0.2rem;
          background-color: #70ff00;
        }
        .ulaim-Jt3 {
          line-height: 1.2102272511;
          align-items: baseline;
          height: 1.8rem;
          font-weight: 400;
          left: 1.7rem;
          top: 0;
          font-size: 1.2rem;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          width: 5.9rem;
          position: absolute;
          display: flex;

          .ulaim-Jt3-sub-0 {
            line-height: 1.1725;
            color: #000000;
            font-family: Work Sans, 'Source Sans Pro';
            font-size: 1.5rem;
            font-weight: 600;
          }
          .ulaim-Jt3-sub-1 {
            font-size: 1.5rem;
            font-weight: 600;
            line-height: 1.1725;
            color: #000000;
            font-family: Work Sans, 'Source Sans Pro';
          }
          .ulaim-Jt3-sub-2 {
            line-height: 1.1725;
            color: #000000;
            font-family: Work Sans, 'Source Sans Pro';
            font-size: 1.2rem;
            font-weight: 400;
          }
        }
      }
    }
  }
  .auto-group-jmcx-Rzb {
    box-sizing: border-box;
    padding: 5.6rem 7.3rem 8.3rem 6.1rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .auto-group-qfzv-ZL7 {
      margin-bottom: 4.6rem;
      width: 100%;
      flex-shrink: 0;

      .image-3-Wm9 {
        width: 136.6rem;
        height: 57.7rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 38.4rem;
      }
    }
    .auto-group-t1hm-ESF {
      padding: 2.5rem 3rem 4.2rem 2.8rem;
      width: calc(100% - 12.1rem);
      height: 15.9rem;
      background-color: rgba(0, 0, 0, 0.6999999881);
      border-radius: 5.2rem;
      flex-shrink: 0;
      margin: 0rem 4.6rem 0rem 7.5rem;
      box-sizing: border-box;

      .boss-car-topselvi-demokrasi-cd-no-20-34873-kartal-istanbul-HvK {
        font-weight: 400;
        line-height: 1.27;
        color: #ffffff;
        font-family: Gravitas One, 'Source Sans Pro';
        max-width: 118.7rem;
        font-size: 3.6rem;
      }
    }
  }
}
